.main-bar{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title . button";

  h2{
    grid-area: title;
    text-align: center;
  }

  form{
    grid-area: button;
    text-align: left;
    input[type='text']{
      width: 300px;
    }
  }

}
